<section class="pagination">
    <% if (hasPreviousPage) { %>
        <a href="?page=<%= previousPage %>">
            <%= previousPage %>
        </a>
        <% if (currentPage !=1 && hasPreviousPage !=1) { %>
            <a href="?page=1">1</a>
            <% } %>
                <a href="?page=<%= currentPage %>">
                    <%= currentPage %>
                </a>

                <% } %>

                    <% if (hasNextPage) { %>
                        <a href="?page=<%= nextPage %>">
                            <%= nextPage %>
                        </a>
                        <% } %>

                            <% if (lastPage !==currentPage && nextPage !==lastPage) { %>
                                <a href="?page=<%= lastPage %>">
                                    <%= lastPage %>
                                </a>
                                <% } %>
</section>