<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if (products.length> 0) { %>
                    <ul>
                        <% products.forEach(prod=> { %>
                            <li>
                                <p>
                                    <%= prod.title %>(<%= prod.cartItem.quantity %>)
                                </p>
                                <form action="/card-delete-item" method="post">
                                    <input type="hidden" value="<%= prod.id %>" name="productId">
                                    <button class="btn" type="submit">Delete</button>
                                </form>
                            </li>
                            <% }) %>
                    </ul>
                    <form action="/create-order" method="post">
                        <button class="btn" type="submit">Order now</button>
                    </form>
                    <% } else { %>
                        <h1>No products in cart</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>